$color-white: #FFFFFF;
$color-show: #FAFAFA;
$quick-silver: #A0A0A0;
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

$fuente: 'Raleway', sans-serif;

$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
