.sectionFive{
    &__button{
        display: block;
        width: 15%;
        margin: 30px auto 0;
        text-align: center;
        text-decoration: none;
        border-radius: 35px;
        color: $granite-gray;
        background-color: $color-white;
        padding: 15px;
        @include font-weight(bold);
        &:hover{
            color: $color-white;
            background-color: $granite-gray;
        }
    }
}